.label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

.label .text {
    -fx-fill: gold;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#player {
    -fx-border-color: #69645e;
    -fx-border-width: 3px;
    -fx-background-color: #ceceb7;
}

#centralBoard {
    -fx-background-color: #e5e5cc;
    -fx-border-color: #69645e;
    -fx-border-width: 3px;
}
