#choicesMainPane {
    -fx-background-color: #ceceb7;
    -fx-border-color: #69645e;
    -fx-border-width: 3px;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

