.button {
    -fx-background-color: #d8d8d8;
    -fx-border-color: grey;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: #c0c0c0;
}

.label {
    -fx-background-color: #d8d8d8;
    -fx-border-color: grey;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-alignment: center;
}

.label:hover {
    -fx-background-color: #c0c0c0;
}