#mainPane {
    -fx-background-image: url("../img/rulesImg.png");
}

.button {
    -fx-background-color: #d8d8d8;
    -fx-border-color: grey;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: #c0c0c0;
}

.label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

#firstIcon {
    -fx-text-fill: gold;
}

#secondIcon {
    -fx-text-fill: silver;
}

#thirdIcon {
    -fx-text-fill: #cd7f32;
}

#description {
    -fx-background-color: transparent;
    -fx-font-family: fantasy;
    -fx-font-size: 50;
    -fx-text-fi: grey;
}

