#pane {
    -fx-background-image: url("../img/menuImg.png");
}

.label {
    -fx-background-color: #d8d8d8;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: #fff5b2;
}

.label .text {
    -fx-stroke: black;
}

.label:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-text-fill: #ffe74c;
    -fx-background-color: #c0c0c0;
}
