.label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.label .text {
    -fx-fill: #a0a08e;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.tooltip {
    -fx-background-color: #e5e5cc;
    -fx-border-color: black;
}

#mainPane {
    -fx-background-image: url("../img/gameImg.png");
}
