#mainPane {
    -fx-background-image: url("../img/rulesImg.png");
}

.tooltip {
    -fx-background-color: #e5e5cc;
    -fx-border-color: black;
    -fx-show-delay: 0;
}

.button {
    -fx-border-color: #69645e;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #c0c0c0;
}